/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#476EA1;   /* background color */
	color: #000000;          /* text color for the entire page */
	font-size: 14px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h1, h2, h3 { 
	text-align:center;     /* centers h1 and h2 content */
	background-color:#6EA147;   /* background color */
	color: #000000; 
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:12px;
	text-align:left;
	font-size:32px;
	background-color:#6EA147
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: space-around;
}

.stepDescription {
	width:60%;
	padding:5px;
}

.stepImage {
	border-radius; 5px
	width:40%;	
	padding:5px;
	
}



