@charset "utf-8";
/* CSS Document */
/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:mintcream;/* background color */
	color: #000000;          /* text color for the entire page */
	font-size: 14px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h1, h3 { 
	text-align:center;     /* centers h1 and h2 content */
	background-color:#476EA1;   /* background color */
	color: #000000; 
	
}
h2 {
	text-align:center;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:800px;
	background-color:#476EA1;
	padding:20px;
	border:3px #0D0335;
	border-radius: 50px 50px 25px 25px;
	margin:0 auto;
}

#wrapper2 {
	width:700px;
	background-color:#476EA1;
	padding:20px;
	border:3px #0D0335;
	border-radius: 25px;
	margin:0 auto;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepButtons{
	padding:20px;
	text-align:center;
	
	
}
.stepTitle{
	padding:12px;
	text-align:left;
	font-size:20px;
	background-color:#6EA147;
 }

.stepContent{ 
	background-color:white;
	padding:7px;
	display:flex;
	justify-content:left; 
}

.stepDescription {
	width:60%;
	padding:5px;
}

.stepImage {
	border-radius:5px;
	width:40%;	
	padding:5px;
	
}
.warning {
	background-color:#fbb8c4;
	padding:10px;
	border-radius:20px;
}

.material-icons {
	color:red;
	font-size:3em;
		
}

a {
	padding: 12px;
    margin: 10px;
	font-size: 125%;
	background-color:#6EA147; 
	color:#7C3051;
	justify-content:right;
	border-radius: 80px;
}

a:hover {
	font-size:200%;
	background-color: #7C3051; 
	color:#6EA147; 
	justify-content:center;
}




